.deteils {
    padding-top: 60px;




    &__list {
 display: flex;
        gap: 30px;
        list-style: none;
        flex-wrap: wrap;
    
        @media screen and (min-width: 1200px) { 
    flex-wrap: nowrap;

        }
     }
     


     
 &__item::before {
    content: "";
    width: 100%;
    height: 120px;
    background-image: url(../imege/antenna.png);
    display: block;
    border-radius: 4px;
    background-color:$background-section;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    margin-bottom: 30px;


    @media screen and (min-width: 480px){
        width: 450px;
    }
    @media screen and (min-width: 768px){
      width: 354px;
    }
    @media screen and (min-width: 1200px){
      width: 270px;
    }

}



&__item:nth-child(2)::before {
    content: "";
    background-image: url(../imege/clock.png);


}




&__item:nth-child(3)::before {
    content: "";
    background-image: url(../imege/diagram.png);


}



&__item:nth-child(4)::before {
    content: "";
    
    background-image: url(../imege/astronaut.png);
  
}





&__title {
    color: $heder-text;
@extend %font;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
text-align: center;

@media screen and (min-width: 480px){
text-align: start;

}
}



 &__text {
    color: $text-color;
 
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;



@media screen and (min-width: 480px){
    width: 450px;

}
@media screen and (min-width: 768px){
  width: 354px;
}
@media screen and (min-width: 1200px){
  width: 270px;
}


 }






}

 






