.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footer-color;

    &>.conteiner {
        display: flex;
        align-items: first baseline;
    }
    
    &__logo {
        color: $background-color;
        font-family: "Raleway", sans-serif;
       font-size: 26px;
       font-weight: 700;
       line-height: 1.38;
       letter-spacing: 0.78px;
    }

    &__logos {
        color: $aditional-color;
        font-family: "Raleway", sans-serif;
       font-size: 26px;
       font-weight: 700;
       line-height: 1.38;
       letter-spacing: 0.78px;
     }
    
    

     &__logotipe {
        display: block;
        margin-bottom: 20px;
    }



    
     &__address {
        margin-top: 20px;
        font-style: normal;
        display: flex;
     }
     &__list {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }




    &__city  {
        color: $background-color;
        font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    width: 231px;



    &:hover {
        color: $aditional-color;
        }
    }

   

    &__contack {
        color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    display: block;

    
&:hover {
    color: $aditional-color;
    }
    }






    &__title {
        color:$background-color;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-left: 70px;
    }
    
    
    
    &__liston {
        margin-top: 9px;
        display: flex;
        margin-left: 70px;
        gap: 10px;
    }
    
    
    &__socional {
        width: 20px;
        height: 20px;
        fill: $accent-color;
        
    
    }





    &__buttion {
        background-color: $networks-background;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 44px;
        height: 44px;
        padding: 0.35em;
        border-radius: 50%; 
        transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  


&:hover,
&:focus {
    background-color:$aditional-color;
}

    }






    

    &__join {
        margin-left: 93px;
    }


    
    &__inputtionn {
        margin-bottom: 20px;
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }


    
    &__inputon {
        display: flex;
    }





    
    &__inputt {
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 158px;
        width: 363px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        
    }








    &__linked {
        margin-left: 12px;
        gap: 10px;
        padding: 10px 28px;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 187.5% */
        letter-spacing: 0.96px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        background: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
    




    
    &__telegram {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        fill: $accent-color;
    }
    



}




    
    
  
    
    