.heder  {
 
position: relative;


  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 25px 0;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__logos {
    margin-right: auto;

    color: $aditional-color;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;

    
    @media screen and (min-width: 768px) {
margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      font-size: 26px;
      letter-spacing: 0.78px;
          }
  }



  &__deskription {
    color: $logo-color;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

  &__nav {
    display: none;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__list {
    display: none;




    @media screen and (min-width: 768px) {
     display: flex;
     flex-direction: column;
     gap: 10px;
          }

          @media screen and (min-width: 1200px) {
       
            flex-direction: row;
            gap: 50px;
                 }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



    &:hover,
    &:focus {
      color: $aditional-color;
      .logo-emaill {
        fill: $aditional-color;
        width: 16px;
        height: 12px;
      }
      .heder-phone {
        fill: $aditional-color;
      }
    }



  }
  &__emaill {
    width: 16px;
    height: 12px;
    fill: $text-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__phone {
    fill: $text-color;
    width: 10px;
    height: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list {
    list-style: none;
  }

  &__burgor {
border: none;
background-color: transparent;

@media screen and (min-width: 768px) {
  
  display: none;
}

  }

  &__menu {
    width: 40px;
    height: 60px;
 fill: black;

  }
}

.nav {
  &__list {
    display: flex;
    gap: 50px;
  }

  &__link {
    color: $heder-text;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $aditional-color;
    }
  }


  &__list {
    list-style: none;
  }

  &__item {
    position: relative;
  }



}






.menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  opacity: 1;
  background-color: white;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.menu__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 15px;
}

.menu__close {
  width: 20px;
  height: 20px;
  fill: #000000;

}
.menu__btn:hover {
  .menu__close {
fill: black;

  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.menu__link {
   color:  $heder-text;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.17;
}
.menu__link:focus {
  color: $aditional-color;
}

.menu__fenster {
  position: absolute;
  bottom: 50px;
  
}



.menu__contact {
  display: flex;
  flex-direction: column;
  gap: 32px;

margin-bottom: 64px;
}
.menu__krontact {

    font-size: 24px;
    font-weight: 500;
    line-height: 1.08;
    letter-spacing: 0.48px;
    
}
.menu__contacton:first-child >
 .menu__krontact {
  color: $aditional-color;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.68px;
}

.menu__contacton:last-child >
 .menu__krontact {
  color: $text-color;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

// dddddd

.menu__social {
  display: flex;
  flex-wrap: wrap;
}

.menu__socrial {
  color: $aditional-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: .36px;
}


.menu__socialist:not(:last-child) {
  margin-right: 10px;
  display: flex;
}


.menu__socialist:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, .2);
  margin-left: 10px;
}



.active {
  color: $aditional-color;
}

.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: $aditional-color;
  border-radius: 2px;
  display: block;
  margin-top: 0px;
  position: absolute;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-timing-function: ease-in-out;
  transform: scaleX(1);
}

.active:focus::after {
  transform: scaleX(1);
}



