.services {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.40),
        rgba(47, 48, 58, 0.40)), url(../imege/kompania.jpg); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media screen and (min-width: 1200px) { 
            padding-top: 200px;
            padding-bottom: 200px;
        }

        
&__tittle {
    color:$accent-color;
text-align: center;
font-size: 26px;
font-weight: 900;
line-height: 1.61; /* 136.364% */
letter-spacing: 1.56px;
text-transform: uppercase;
width: 100%;
margin-right: auto;
margin-left: auto;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation: shadowChange 4s infinite alternate;

@media screen and (min-width: 480px) { 
  width: 360px;
}





@media screen and (min-width: 1200px) { 
 font-size: 44px;
 line-height: 1.36;
 letter-spacing: 2.64px;
 width: 696px;
}


@keyframes shadowChange {
    0% {
        text-shadow: 0 0 10px  #1E252B;
    }
    50% {
        text-shadow: 0 0 8px #ffffff; 
    }
}

    &:hover {
        color: $logo-color;
    
    }
}






&__button {
    background-color: $aditional-color;
    color:$background-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    margin-top: 30px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 24px;
padding-right: 24px;
border-radius: 4px;
background-color: $aditional-color;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
transition-property: color, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation: breathing 3s infinite ease-in-out;


@media screen and (min-width: 1200px) { 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}



&:hover,
&:focus {
    color:  $background-section;
    background-color: $logo-color;

    @keyframes breathing {
        0%, 100% {
            width: 220px;
        }
        50% {
            width: 250px;
        }

}
}
}

}










