
.team {
    background-color: $background-section;
    padding-top: 60px;
    padding-bottom: 60px;


    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &__title {
      color: $heder-text;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
     }






     &__list {
      display: flex;
      list-style: none;
      gap: 30px;
      text-align: center;
  
      flex-wrap: wrap;
   }
  
  
  


   &__item {
      border-radius: 0px 0px 4px 4px;
      background: #FFF;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
      flex-basis: 100%;


      @media screen and (min-width: 480px){
       
      } 
      @media screen and (min-width: 768px){
        flex-basis: calc((100% - 30px) / 2);
    
      }
      @media screen and (min-width: 1200px){
        flex-basis: calc((100% - 90px) / 4);
      }
    }
   





   &__img {
      width: 100%;


 
      @media screen and (min-width: 480px){
         width: 450px;
       } 
       @media screen and (min-width: 768px){
         width: 354px;
       }
       @media screen and (min-width: 1200px){
         width: 270px;
       }
   }


  
  &__box {
      color: $background-color;
   padding-top: 30px;
   padding-bottom: 30px;
  
  }



  
   &__deskription {
      color: $heder-text;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;

   }


  
  
   &__text {
      color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  
   }
  
}
 




 /* -------------------- */
 .teaming {
    display: flex;
 margin-top: 16px;
    align-items: center;
    justify-content: center;
    gap: 10px;




    &__button {
      background-color: $networks-background;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      padding: 0.35em;
      border-radius: 50%;
      transition-property:background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  .teaming__weriet{
      fill: $social-networks;
      width: 20px;
      height: 20px;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
  
  }


  &:hover,
  &:focus {
 background-color: $aditional-color;
 border: none;
 outline: 0px solid $aditional-color;
 .teaming__weriet {
 height: 20px;
 width: 20px;
 fill:  $background-color;
 
 
 }
  }
   }
  

 }



 

