:root {
    --background-color: #FFF;
    --accent-color: #FFFFFF;
    --aditional-color: #2196F3;
    --text-color: #757575;
    --footer-color: #2F303A;
    --background-section: #F5F4FA;
    --heder-text: #212121;
    --logo-color: #000;
    --social-networks: #AFB1B8;
    --networks-background: rgba(255, 255, 255, 0.10);
    }